<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To do list</title>
  </head>
  <body>
  <% if(kindOfDay=='satudary'||kindOfDay=='sunday'){%>
    <h1 style="color: red">Its a <%= kindOfDay %> Todolist</h1>
  <%  } else if(kindOfDay=='wenesday'){ %>
    <h1 style="color: purple ">Its a <%= kindOfDay %> Todo list</h1>
<%   } else{ %>
    <h1 style="color: green">Its a <%= kindOfDay %> To do list</h1>
<%   } %>


  </body>
</html>
